@page "/games"
@using Football_Two.Services
@using Football_Two.Models
@inject DataAccess dataAccess

<h5>Games</h5>

<div>
    <button class="btn btn-primary" @onclick="GetGames">Select Games</button>

    <label style="margin-left:10px;">Week:</label>
    <select @bind="@scheduleWeek">
        @foreach (var fsw in formatedScheduleWeeks)
        {
            <option value="@fsw.Key">@fsw.Value</option>
        }
    </select>

    @if (games != null && games.Length > 0)
    {
        @if (updateMode)
        {
            <button class="btn btn-primary" style="margin-left:20px;" @onclick="SaveScores">Save</button>
            <button class="btn btn-primary" style="margin-left:20px;" @onclick="CancelScores">Cancel</button>
        }
        else
        {
            <button class="btn btn-primary" style="margin-left:20px;" @onclick="EditScores">Update Scores</button>
        }
    }
    
</div>

<div style="margin-top:20px;">
    @if (games is not null && games.Length > 0)
    {
        <div class="tableFixHead">
            <table>
                <thead>
                    <tr>
                        <th>Game Id</th>
                        <th>Vid</th>
                        <th>Visiting Team</th>
                        <th>Hid</th>
                        <th>Home Team</th>
                        <th>Date</th>
                        <th>Week</th>
                        <th>Visitor Score</th>
                        <th>Home Score</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var game in games)
                    {
                        <tr>
                            <td>@game.gameId</td>
                            <td>@game.visitingTeamId</td>
                            <td>@game.visitingTeamName</td>
                            <td>@game.homeTeamId</td>
                            <td>@game.homeTeamName</td>
                            <td>@game.datePlayed</td>
                            <td>@game.scheduleWeek</td>
                            <td>
                                @if (updateMode)
                                {
                                    <input type="number" class="ScoreUpdate" @bind="@game.visitingTeamScore" />
                                }
                                else
                                {
                                    @game.visitingTeamScore
                                }
                            </td>
                            <td>
                                @if (updateMode)
                                {
                                 <input type="number" class="ScoreUpdate" @bind="@game.homeTeamScore" />
                                }
                                else
                                {
                                    @game.homeTeamScore
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {

    private Game[]? games;
    private ScheduleWeek[]? scheduleWeeks;
    private Dictionary<int, string>? formatedScheduleWeeks;

    public int scheduleWeek = -1;
    private bool updateMode = false;

    protected override async Task OnInitializedAsync()
    {
        scheduleWeeks = await dataAccess.ScheduleDatesByWeekQuery(2025);
        formatedScheduleWeeks = new Dictionary<int, string>();
        foreach (ScheduleWeek sw in scheduleWeeks)
        {
            formatedScheduleWeeks.Add(sw.week,
                "Week # " + sw.week.ToString() + ":  " +
                DateOnly.FromDateTime(sw.startDate).ToString("MM/dd/yyyy") +
                " thru " +
                DateOnly.FromDateTime(sw.endDate).ToString("MM/dd/yyyy")
            );
        }
        scheduleWeek = formatedScheduleWeeks.First().Key;
    }

    private async void GetGames()
    {
        games = await dataAccess.GameQuery(scheduleWeek);
    }

    private async void EditScores()
    {
        updateMode = true;
    }

    private async void SaveScores()
    {
        foreach (var game in games)
        {
            int rc = dataAccess.ScoreUpdate(game.gameId, game.visitingTeamScore.Value, game.homeTeamScore.Value);
        }

        updateMode = false;
    }

    private async void CancelScores()
    {
        updateMode = false;
    }
}
